body {
    background-color: #f5f5f7;
    font-family: "Poppins", serif;
}

.login-box {
    background-color: aqua;

}

.row {
    height: 650px;
    width: 1100px;

}

.judul-register, .judul-login {
    font-weight: 700;
    font-size: 40px;
}

.btn-signUp, .btn-signIn {
    width: 100%;
    background-color: #0b4575;
    color: white;
    height: 46px;
}

.input-register, .input-login {
    height: 46px;
}