body {
    background-color: #f5f5f7;
    font-family: "Poppins", serif;
}

/* Style Sidebar User Shop*/
#sidebar {
    height: 100vh;
    width: 272px;
    background-color: #0b4575;
    position: fixed;
    z-index: 10;
}

/* judul Categories sidebar shop */
#sidebar h5 {
    font-weight: 700;
    color: #ffffff;
    margin: 40px;
}

/* list categories shop */
#sidebar p {
    padding: 7px;
    font-weight: 500;
    color: #ffffff;
    height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#sidebar p:hover {
    background-color: #bc7a4a;
    border-radius: 50px;
    height: 40px;
    width: 100px;
    transition: ease 200ms;
}

#sidebar p.active {
    background-color: #FF6B00;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.card {
    margin-bottom: 2rem;
}